.display-list, .list-input {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    margin: 10px;
    row-gap: 10px;
    align-items: center;
    align-items: stretch;
}
.list-input-box {
    padding: 5px;
}
.date-box {
    padding: 5px;
}
.add-button {
    padding: 5px;
    color: white;
    border: 0cap;
    background-color: green;
    cursor: pointer;
}
.delete-button {
    padding: 5px;
    color: white;
    border: 0cap;
    background-color: red;
    cursor: pointer;
}
.list-item {
    color: red;
}
.due-date {
    color: black;
}